.form-container {
    width: 500px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container h2 {
    font-weight: 400;
    font-size: 35px;
    color: #2A414F;

}

.input-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #2A414F;
}
input{
    width: 415px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #95A0A7;
}
.login{
    background-color: rgba(255, 153, 0, 0.3);
    border:none;
    border-radius: 5px;
}
.new-account{
    color: #2A414F;
    text-align: center;
}
.new-account a{
    color:#FF9900;
    text-decoration: none;
}