.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-left: 50px;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0;
    gap: 10px;
}
